*{
    margin: 0px;
    padding: 0px;
}
 section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 197, 197);
 }

   .container{
    width: 500px;
    height: 400px;
    background-color: rgb(28, 154, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

.ques{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#v1, #v2{
    text-align: center;
    padding: 20px 30px;
    width: 35px;
    font-size: 30px;
}
p{
    font-size: 60px;
    margin: 0 8px 0px 13px ;
}
#hell{
  align-items: center;
}

#answ{
    text-align: center;
    padding: 20px 30px;
    width: 77px;
    font-size: 30px;
}

#check{
    position: relative;
top: 20px;
height: 32px;
width: 72px;
border-radius: 27px;
font-size: 15px;
;
}

